<h1>Comment on <%= @item.name %></h1>
<%= form_for [@item, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <%= f.label :author %>
  <%= f.text_field :author, placeholder: 'Leave Blank for Anonymous Comment' %>
  <br />
  <%= f.submit %>
<% end %>
<p><%= link_to 'Return to Item', department_item_path(@item.department_id, @item.id) %></p>