<h1><%= @department.id ? 'Change Department Name' : 'Add Department' %></h1>
<hr />
<%= form_for @department do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>
<% if @department.id == nil %>
  <%= link_to 'Back to Index', root_path %>
<% else %>
  <%= link_to 'Back to Department', department_path(@department) %>
<% end %>