<h1><%= @item.id ? 'Change Item' : 'Add Item' %></h1>
<hr />
<%= form_for [@department, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>

  <%= f.label :price %>
  <%= f.text_field :price, required: true %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>
<% if @item.id == nil %>
  <%= link_to 'Back to Department', department_path(@department) %>
<% else %>
  <%= link_to 'Back to Item', department_item_path(@department, @item) %>
<% end %>